#planner-list-card {
    padding: 5% 3%;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(78, 65, 196, 0.2);
    min-height: 60vh;

  }
  

#planner-list-date{
    color: #0d3c72;
  text-decoration: none;
  font-size: 1.3rem;
  border: none;
  background: none;
  font-weight: 500;

  font-family: 'Poppins', sans-serif;
}

#planner-list-date::before {
    margin-left: auto;
  }
  
  #planner-list-date::after, #planner-list-date::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #8DC7FD;
    display: block;
    transition: 0.5s;
  }
  
  #planner-list-date:hover::after, #planner-list-date:hover::before {
    width: 100%;
  }
  

  .entry-checkbox {

    /* padding: 1% 1%; */
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  