#question-store-card{
    border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}




.question-store-textarea{

    width: 100%;
    padding: 10px 15px;
    

    border: 1px solid #414141;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  background-color: transparent;
  font-family: inherit;

}


.question-store-button{
  font-size: 1em;
  
  color: rgb(27, 27, 27);
  padding: 2px 7px;
  border: 1px solid;
  border-radius: 15px;

  transition: all .2s;

}

/* Apply the hover effect for screens with a minimum width of 768px */
@media (min-width: 768px) {
  .question-store-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  }
}
